!!!
html
  title Snake n' Bacon
  head
    link(rel="stylesheet", href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Play:400,700', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="js/lib/lodash.min.js")
    script(type="text/javascript", src="js/lib/jquery.min.js")
    script(type="text/javascript", src="js/lib/createjs.js")
    script(type="text/javascript", src="js/base.js")
    script(type="text/javascript", src="js/util.js")
    script(type="text/javascript", src="js/widgets/loading_bar.js")
    script(type="text/javascript", src="js/widgets/triangle_cursor.js")
    script(type="text/javascript", src="js/widgets/submenu.js")
    script(type="text/javascript", src="js/widgets/game_grid.js")
    script(type="text/javascript", src="js/screens/preload.js")
    script(type="text/javascript", src="js/screens/sound.js")
    script(type="text/javascript", src="js/screens/main_menu.js")
    script(type="text/javascript", src="js/screens/game.js")
    script(type="text/javascript", src="js/app.js")
  body
    != yield
